
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  

body{
    background: hsl(38, 22%, 93%);
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
 }
main{
    width: 40%;
    height: 70vh;
    display: flex;
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.leftobject{
    width: 50%;
    height:100%;   
}
.leftobject > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;

    
}
.rightobject{
    width: 50%;
    height: 100%;
    align-items: center;
    padding: 3px;
    margin: 10px;
    background-color: solid white;
}
.rightobject > h2{
    font-weight: bold;
    padding: none;
}

p{
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    font-weight: lighter;
    font-family:"Montserrat",sans-serif) ;
}
#h{
    display: flex;
}
#h{
    color: hsl(158, 59%, 40%);
    font-weight: 700;
    font-size: 25px;
    font-family: "Fraunces",sans-serif;
}
#h span{
    color: hsl(222, 12%, 48%);
    text-decoration: line-through;
    font-size: 10px;
    padding-left: 20px;
}
#cart{
    border-radius: 4px;
    margin-top:15px;
    align-items: center;
    text-align: center;
    padding: 6px;
    background-color: hsl(158, 39%, 26%);
    color: white;
    text-emphasis-color: white;
}
@media ${device.mobile} { 
    max-width: 375px;
    main{
        display:grid
        flex-direction: column;
    }
    .leftobject > img{
        background: url(C:\Users\HP\Documents\WEBSITE\product-preview\images\image-product-mobile.jpg)/center/cover;
       
}
  }

  @media ${device.desktop} {
    max-width: 1400px;
  }
   